.form-crud{
    margin: 0px 15px 0px 15px;
}
.detail-price{
    display: flex;
    justify-content: space-between;
    margin: 0px 10px 0px 10px;
    padding-bottom: 5px;
}
.action-menu{
    display: flex;
    padding: 0px 10px 0px 10px ;

}
.table-responsive{
    max-width: 99%;
    border: 1px solid black;
    margin-left: 10px;
}
.table-responsive>Table{
border: 1px solid black;
}
.action-menu>Button{
    color: rgb(36, 97, 209);
}
